﻿/* LESS - http://lesscss.org style sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=70D2a0kc-KQ6yQ89DNofkIHhTHe */

/* Feel free to copy&paste color codes to your application */


/* MIXINS */

/* As hex codes */

@color-primary-0: #FFD19B;	/* Main Primary color */
@color-primary-1: #FFE7CB;
@color-primary-2: #FFDBB2;
@color-primary-3: #FFC685;
@color-primary-4: #FFBD71;

@color-secondary-1-0: #95E88D;	/* Main Secondary color (1) */
@color-secondary-1-1: #C3EFBE;
@color-secondary-1-2: #ABEBA5;
@color-secondary-1-3: #82E577;
@color-secondary-1-4: #70E264;

@color-secondary-2-0: #FD9A9E;	/* Main Secondary color (2) */
@color-secondary-2-1: #FDCACC;
@color-secondary-2-2: #FDB1B5;
@color-secondary-2-3: #FC848A;
@color-secondary-2-4: #FC6F76;

@color-complement-0: #82B6D0;	/* Main Complement color */
@color-complement-1: #B4D1DF;
@color-complement-2: #9AC3D7;
@color-complement-3: #6EACC9;
@color-complement-4: #5CA3C5;

/* As RGBa codes */

@rgba-primary-0: rgba(255,209,155,1);	/* Main Primary color */
@rgba-primary-1: rgba(255,231,203,1);
@rgba-primary-2: rgba(255,219,178,1);
@rgba-primary-3: rgba(255,198,133,1);
@rgba-primary-4: rgba(255,189,113,1);

@rgba-secondary-1-0: rgba(149,232,141,1);	/* Main Secondary color (1) */
@rgba-secondary-1-1: rgba(195,239,190,1);
@rgba-secondary-1-2: rgba(171,235,165,1);
@rgba-secondary-1-3: rgba(130,229,119,1);
@rgba-secondary-1-4: rgba(112,226,100,1);

@rgba-secondary-2-0: rgba(253,154,158,1);	/* Main Secondary color (2) */
@rgba-secondary-2-1: rgba(253,202,204,1);
@rgba-secondary-2-2: rgba(253,177,181,1);
@rgba-secondary-2-3: rgba(252,132,138,1);
@rgba-secondary-2-4: rgba(252,111,118,1);

@rgba-complement-0: rgba(130,182,208,1);	/* Main Complement color */
@rgba-complement-1: rgba(180,209,223,1);
@rgba-complement-2: rgba(154,195,215,1);
@rgba-complement-3: rgba(110,172,201,1);
@rgba-complement-4: rgba( 92,163,197,1);



/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */

.btn-primary {
    background-color: @color-complement-3;
    border-color: @color-complement-3;

    &:hover {
        background-color: @color-complement-4;
        border-color: @color-complement-4;
    }
}

.navbar-inverse {
    background-color: #ffffff;
    border: none;
    width: 95%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    > .container {
        background-color: #eeeeee;
        width: 100% !important;
        max-width: 100% !important;
        border-bottom: 1px solid #ffffff;
    }
}

.invisible {
    display: none;
}

body {
    > .container {
        max-width: 95%;
        min-height: 750px;
        height: 1px;

        .jumbotron {
            padding-left: 20px;
            padding-bottom: 0px;
            padding-right: 0px;
        }
    }
}

.angular-google-map-container { height: 400px; }

.orange () {
    background-color: @color-primary-4 !important;
}

.orange-fade (){
    background-color: @color-primary-3;
}

.form-group-inner (){
    &.server-errors {
        color: #b94a48;
    }

    .control-label {
        padding: 0px;
        font-size: 14px;
    }
}

.profile-pic () {
    > div.profile-pic {
        width: 65px; 
        height: 65px; 
        border-radius: 50%; 
        border: 1px solid black;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../Images/Icons/profile.png); 
    }
}

.counter {
    > span {
        background-color: @color-secondary-1-3;
        padding: 5px;
        border-radius: 5px;
        color: white;
    }
}

.file-upload {
    position: relative;
    overflow: hidden;
    font-size: 1em;        /* example */
    height: 2em;           /* example */
    line-height: 2em;

    input[type=file] {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: scale(1);
        letter-spacing: 10em;     /* IE 9 fix */
        -ms-transform: scale(20); /* IE 9 fix */
        opacity: 0;
        cursor: pointer;
    }
}

.body-content {
    > div {
        height: 100%;

        > div {
            height: 100%;
            width: 100%;

            .register {
                padding: 20px;

                .form-horizontal {
                    float: left;
                    width: 75%;

                    h2 {
                        text-align: center;
                        padding: 15px;
                    }

                    .form-group {
                        .form-group-inner();

                        .btn {
                            float: right;
                            margin-right: 15px;
                        }
                    }
                }
            }

            > div.main-nav {
                height: 100%;
            }

            .nav-li () {
                &.selected {
                    > a {
                        color: rgba(255, 255, 255, 0.75) !important;
                        .orange();
                    }
                }
                        
                &:hover {
                    cursor: pointer;
                    > a {
                        .orange-fade();
                    }
                }
            }

            > div.main-nav:first-child {
                background-color: #eeeeee;
                float: left;
                width: 15%;
                font-size: 0.75em;
                
                > h3 {
                    text-align: left;
                    padding: 10px 15px;
                    cursor: pointer;
                    
                    > a {
                        color: black !important;
                        &:hover, &:visited, &:focus {
                            text-decoration: none;
                        }
                    }

                    &:hover {
                        color: rgba(255, 255, 255, 0.7) !important;
                    }
                }

                > ul {
                    > li {
                        a {
                            .icon {
                                background-size: 20px 20px;
                                display: inline-block;
                                width: 20px; 
                                height: 20px;
                                content:"";
                                margin-right: 15px;
                                line-height: 20px !important;
                                vertical-align: -20% !important;
                            }

                            &.profile {
                                &:before {
                                    .icon();
                                    background-image: url(../Images/Icons/profile.png);
                                }
                            }

                            &.message {
                                &:before {
                                    .icon();
                                    background-image: url(../Images/Icons/message.png);
                                }

                                .counter;
                            }

                            &.events {
                                &:before {
                                    .icon();
                                    background-image: url(../Images/Icons/event.png);
                                }

                                .counter;
                            }

                            &.friends {
                                &:before {
                                    .icon();
                                    background-image: url(../Images/Icons/friends.png);
                                }
                            }

                            &.users {
                                &:before {
                                    .icon();
                                    background-image: url(../Images/Icons/users.png);
                                }
                            }

                            &.settings {
                                &:before {
                                    .icon();
                                    background-image: url(../Images/Icons/settings.png);
                                }
                            }

                            &.feed {
                                &:before {
                                    .icon();
                                    background-image: url(../Images/Icons/feed.png);
                                    background-size: 30px 30px;
                                    width: 30px; 
                                    height: 30px;
                                    line-height: 30px !important;
                                    vertical-align: -30% !important;
                                    margin-left: -5px !important;
                                    margin-right: 10px;
                                }

                                .counter;
                            }

                            &:hover {
                                color: rgba(255, 255, 255, 0.75) !important;
                            }
                        }

                        .nav-li();
                    }
                }
            }

            > div.main-nav:last-child {
                background-color: #dddddd;
                float: left;
                width: 85%;
                position: relative;

                .form-group {
                    margin-left: 0px;
                }

                .dialogs {
                    position: relative;
                    padding: 20px;
                    height: 100%;

                    > p {
                        height: 5%;
                        padding: 20px;
                    }

                    > div.list {
                        > div {
                            position: relative;
                            min-height: 1px;
                            display: block;

                            cursor: pointer;
                            padding: 15px;
                            
                            &:hover {
                                color: rgba(255, 255, 255, 0.75) !important;
                                .orange-fade();
                            }

                            > div {
                                position: relative;
                                min-height: 1px;
                                display: block;
                                overflow: auto;
                            }

                            .dialog {
                                > div:first-child {
                                    height: 50px;
                                    width: 50px;
                                    float: left;
                                    margin-right: 20px;
                                    border: 1px solid black;
                                    text-align: center;
                                    color: @color-secondary-1-3 !important; 

                                    &.event {
                                        color: @color-complement-3 !important;
                                    }

                                    + div {
                                        float: left;
                                        display: block;
                                        width: 90%;

                                        > h3 {
                                            margin: 0px;
                                            + div {
                                                > div {
                                                    float: left;
                                                }

                                                > div:first-child {
                                                    padding: 5px;
                                                    /*+ div {
                                                        > span {
                                                            padding: 5px;
                                                            border-radius: 5px;
                                                            color: white;
                                                            background-color: @color-secondary-1-3;
                                                        }
                                                    }*/
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        overflow: auto;
                        position: relative;
                        height: 95%;
                        min-height: 1px;
                    }
                }

                .profile {
                    padding: 20px;

                    > div {
                        padding: 15px;
                    }

                    > div:first-child + div {
                        cursor: pointer;

                        .profile-pic();
                    }

                    .form-horizontal {
                        float: left;
                        width: 75%;

                        .form-group {
                            .form-group-inner();
                            
                            .control-label {
                                text-align: left;
                            }

                            .form-status {
                                text-align: left;
                                color: green;
                            }
                        }

                    }
                }

                .feed {
                    height: 100%;
                    position: relative;
                    overflow-y: auto;

                    > li {
                        list-style: none;
                        float: left;
                        height: 200px;
                        width: 200px;
                        border: 1px solid black;

                        h1 {
                            text-align: center;
                            font-size: 1em;
                        }
                    }
                }

                .users {
                    display: block;
                    height: 100%;
                    min-height: 1px;

                    > p {
                        padding: 20px;
                    }

                    .list {
                        display: block;
                        height: 90%;

                        padding: 20px;

                         > li {
                            list-style: none;
                            float: left;
                            height: 200px;
                            width: 200px;
                            border: 1px solid black;
                            padding-top: 20px;

                            .profile-pic ();

                            > div.profile-pic {
                                display: block;
                                margin: 0 auto;

                                + div {
                                    padding: 15px;
                                    > button {
                                        float: right;
                                        margin-top: 10px;
                                    }
                                }
                            }

                            p {
                                text-align: center;
                            }
                        }
                    }
                }

                .events {
                    height: 100%;
                    min-height: 1px;
                    position: relative;
                    padding: 20px;
                    
                    > .create {
                        position: absolute;
                        top: 5%;
                        left: 35%;
                    }

                    .tab-content {
                        position: relative;
                        height: 93% !important;
                        min-height: 1px;
                        padding: 20px;

                        > div {
                            position: relative;
                            height: 100%;
                            min-height: 1px;

                            > div {
                                position: relative;
                                height: 100%;
                                min-height: 1px;
                            }
                        }
                    }

                    ul {
                        
                        > li {
                            .nav-li();
                            float: left;

                            a {
                                &:hover {
                                    color: rgba(255, 255, 255, 0.75) !important;
                                }
                            }
                        }
                    }
                }

                .chat {
                    position: relative;
                    display: block;
                    padding: 20px;
                    height: 100%;
                    min-height: 1px;

                    > div:first-child {
                        height: 5%;
                    }

                    > div:first-child + div {
                        margin-top: 1%;
                        background-color: #d6d2d2;
                        border-radius: 10px;
                        padding: 15px;
                        overflow-y: auto;
                        height: 69%;
                        color: white;

                        button {
                            margin: 15px auto;
                            display: block;
                        }

                        div.group {
                            float: left;
                            display: block;

                            > div {
                                .orange();
                                width: 25%;
                                text-align: center;
                                border-radius: 10px;
                                margin: 0 auto;
                            }
                        }

                        div.message {
                            position: relative;
                            
                            border-radius: 10px;
                            padding: 10px;
                            margin: 10px;
                            word-wrap:break-word;
                            font-size: 0.5em;

                            > div {
                                float: left
                            }

                            > div:first-child {
                                width: 70%;
                            }

                            > div:last-child {
                                width: 30%;
                                text-align: right;

                                > img {
                                    float: right;
                                }
                            }
                        }

                        .self {
                            background-color: @color-secondary-1-3;
                            float: right;
                        }

                        .other {
                            background-color: @color-complement-3;
                        }
                    }

                    > div:last-child {
                        background-color: #c5c3c3;

                        width: 100%;
                        color: white;
                        padding: 15px;
                        border-radius: 10px;
                        height: 25%;

                        textarea {
                            height: 70%;
                        }

                        textarea + button {
                            margin-top: 10px;
                            float: right;
                        }

                        > div {
                            height: 100%;
                        }
                    }
                }

                .add-event, .edit-event {
                    height: 100%;
                    min-height: 1px;
                    position: relative;
                    padding: 15px;

                    .form-horizontal {
                        height: 95%;
                        min-height: 1px;
                        position: relative;

                        > div:first-child {
                            position: relative;
                            height: 90%;
                            overflow-y: auto;
                            overflow-x: hidden;

                            > .form-group {
                                .form-group-inner ();

                                .control-label {
                                    &.col-sm-1 {
                                        width: 10%;
                                    }

                                    text-align: left;
                                }

                                > div {
                                    > div {
                                        padding-left: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

