﻿<div class="edit-event">
    <form ng-submit="save()" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2">Name</label>
            <div class="col-sm-10">
                <input type="text" ng-model="event.name" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Description</label>
            <div class="col-sm-10">
                <input type="text" ng-model="event.description" />
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn-primary" value="Update" />
        </div>
    </form>
</div>