﻿<div ui-view>
    <a ui-sref="main.events.create">Create</a>
    Order by:
    <select ng-options="opt as opt.label for opt in sortOpts track by opt.id" ng-model="sortOpt"></select>
    <div>
        <ul class="feed" data-sortable>
            <li ng-repeat="event in events | orderBy: sortOpt.label">
                <div>
                    <h1>{{ event.name }}</h1>
                    <a ui-sref="main.events.view({ id: event.id })">View</a>
                </div>

            </li>
        </ul>
    </div>
</div>
