﻿<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Name:</label>
            <div class="col-sm-10">
                <input class="form-control" value="{{ event.name }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Description:</label>
            <div class="col-sm-10">
                <input class="form-control" value="{{ event.description }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Date Starts:</label>
            <div class="col-sm-10">
                <input class="form-control" value="{{ event.dateStarts }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Date Ends:</label>
            <div class="col-sm-10 col-sm-2">
                <input class="form-control" value="{{ event.dateEnds }}">
            </div>
        </div>
       
            <ul>
                <li ng-repeat="userToEvent in event.allUsers">
                    <div>
                        <h1>hello {{ userEvent.user.userName }}</h1>
                    </div>

                </li>
            </ul>
 
</form>
    <a href="javascript:void(0)" ng-click="act()"> {{ ::action }}</a>
    <a ui-sref="main.events.edit({ id: event.id })" ng-show="event.canEdit">Edit</a>
    <a href="javascript:void(0)" ng-click="delete()" ng-show="event.canEdit">Delete</a>
</div>