﻿<div class="main-nav">
    <h1>Yoba</h1>
    <ul>
        <li><a ui-sref="main.profile">Profile</a></li>
        <li><a ui-sref="main.feed">Feed</a></li>
        <li><a ui-sref="main.events">Events</a></li>
        <li><a ui-sref="main.friends">Friends</a></li>
        <li><a ui-sref="main.messages">Messages</a></li>
        <li><a ui-sref="main.settings">Settings</a></li>
    </ul>
</div>
<div class="main-nav" ui-view="main">
    
</div>

<!--<h1>Test</h1>

<div>
    <div>
        <a ui-sref="main.add">Add</a>
    </div>
    <div>
        <p>DICH EBANAYA</p>
        <div ng-repeat="item in data">
            <span>{{ ::item.name }}</span>
        </div>
    </div>
</div>-->