﻿<div ui-view class="dialogs">
    <p>Dialogs</p>
    <div class="list">
        <div ng-repeat="dialog in dialogs" ng-click="openDialog(dialog.id)">
            <div class="dialog">
                <div ng-class="{ 'event': dialog.isEvent }">
                    <span>{{ ::dialog.isEvent ? "E" : "D" }}</span>
                </div>
                <div>
                    <h3><span>{{ ::dialog.fullName }}</span><span> ({{ dialog.participantsCount}} participant(-s))</span></h3>
                    <div>
                        <div>
                            <p ng-if="!dialog.lastMessage">
                                No messages
                            </p>
                            <p ng-if="dialog.lastMessage" ng-bind-html="dialog.lastMessage.html">
                            </p>
                        </div>
                        <div class="counter">
                            <span ng-if="dialog.unreadCount > 0">{{ dialog.unreadCount }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
