﻿<div class="chat col-md-12" ui-view>
    <div class="col-md-12">
        <p>{{ ::dialogName }}</p>
    </div>
    <div class="col-md-12 scroll-parent">
        <div class="col-md-12">
            <button class="btn btn-default" type="button" ng-if="hasMoreItems" ng-click="getMessages()">Load more</button>
        </div>
        <div class="col-md-12"
             ng-repeat="(key, value) in messages | groupBy: 'date'">
            <div class="col-md-12 group">
                <div>{{ ::key }}</div>
            </div>
            <div class="col-md-6 message"
                 ng-class="{ 'self': message.isSelf, 'other': !message.isSelf }"
                 ng-repeat="message in value track by $index"
                 scroll-down="$parent.isLastMessage(message)">
                <div>
                    <p>{{ ::message.senderName }}</p>
                    <p ng-bind-html="message.html">
                    </p>
                </div>
                <div>
                    <p>{{ ::message.timeStamp | date : 'HH:mm' }}</p>
                    <img src="../../../../Content/Images/tick.png" ng-if="message.isSelf && message.viewed" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <textarea class="form-control" placeholder="Enter your message..." ng-model="message.content" ng-keypress="onKeyPress($event)"></textarea>
            <button class="btn btn-primary" ng-click="send()" ng-disabled="!message.content">Send</button>
        </div>
    </div>
</div>
