﻿<div ui-view>
    <form ng-submit="save()" class="form-horizontal">
        <div class="form-group">
            <ul class="feed" data-sortable>
                <li ng-repeat="user in users">
                    <div>
                        <h1>{{ user.userName }}</h1>
                        <input type="checkbox" ng-model="user.isChecked" ng-click="check()" />
                    </div>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-class="{ 'disabled': noneIsChecked }">Create</button>
        </div>
    </form>
</div>