﻿<div ui-view>
    <div>
        <ul class="feed" data-sortable>
            <li ng-repeat="request in requests">
                <div>
                    <h1>{{ request.eventId }}</h1>
                    <button type="button" class="btn btn-default" ng-click="accept(request)">Accept</button>
                    <button type="button" class="btn btn-default" ng-click="decline(request)">Decline</button>
                </div>
            </li>
        </ul>
    </div>
</div>