﻿<div ui-view>
    <ul class="nav" data-tabs>
        <li ng-class="{ 'selected': isActive('main.events.requests.incoming')  }">
            <a ui-sref="main.events.requests.incoming">Incoming</a>
        </li>
        <li ng-class="{ 'selected': isActive('main.events.requests.outgoing') }">
            <a ui-sref="main.events.requests.outgoing">Outgoing</a>
        </li>
    </ul>

    <div class="tab-content" ui-view="requests"></div>
</div>
