﻿<div ui-view>
    <div>
        <ul class="feed" data-sortable>
            <li ng-repeat="invitation in invitations">
                <div>
                    <h1>{{ invitation.eventId }}</h1>
                    <button type="button" class="btn btn-default" ng-click="accept(invitation)">Accept</button>
                    <button type="button" class="btn btn-default" ng-click="decline(invitation)">Decline</button>
                </div>
            </li>
        </ul>
    </div>
</div>