﻿<div ui-view>
    <ul class="nav" data-tabs>
        <li ng-class="{ 'selected': isActive('main.events.invitations.incoming')  }">
            <a class="counter" ui-sref="main.events.invitations.incoming">Incoming <span ng-if="invitations > 0">{{ invitations }}</span></a>
        </li>
        <li ng-class="{ 'selected': isActive('main.events.invitations.outgoing') }">
            <a ui-sref="main.events.invitations.outgoing">Outgoing</a>
        </li>
    </ul>

    <div class="tab-content" ui-view="invitations"></div>
</div>
