﻿body {
    > .container {
        max-width: 1500px;
    }
}

.body-content {
    > div {
        > div {
            display: inline-block;
            width: 100%;
            > div.chat {
                display: block;
                > div:first-child {
                    > div {
                        display: inline-block;
                    }
                }
            }

            > div.main-nav:first-child {
                float: left;
                width: 25%;
                border-right: 1px solid black;
                > ul {
                    > li {
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }

            > div.main-nav:last-child {
                float: left;
                width: 75%;

                .feed {
                    > li {
                        list-style: none;
                        float: left;
                        height: 200px;
                        width: 200px;
                        border: 1px solid black;
                        h1 {
                            text-align: center;
                            font-size: 1em;
                        }
                    }
                }

                .add-event, .edit-event {
                    padding: 15px;
                }
            }
        }
    }
}

