﻿<div ui-view class="users">
    <p>Friends</p>
    <p ng-if="loaded && friends.length === 0">You don't have any friends yet</p>
    <ul class="list" data-sortable ng-if="friends.length > 0">
        <li ng-repeat="user in friends">
            <div class="profile-pic"
                 ng-style="{ 'background-image': user.hasAvatar ? 'url(' + user.avatar + ')' : 'transparent', 'background-size': user.hasAvatar ? '65px 65px' : '35px 35px' }">
            </div>
            <div>
                <p>{{ user.fullName }}</p>
                <button class="btn btn-primary" ng-click="remove(user.id)">-</button>
            </div>
        </li>
    </ul>
</div>