﻿<div ui-view class="profile">
    <div>
        Profile
    </div>
    <div>
        <div class="file-upload profile-pic" 
             ng-style="{ 'background-image': user.hasAvatar ? 'url(' + user.avatar + ')' : 'transparent', 'background-size': user.hasAvatar ? '65px 65px' : '35px 35px' }">
            <input type="file" name="file"
                   ngf-pattern="'.jpg,.png,.jpeg'"
                   ngf-select="uploadFiles($file, $invalidFiles)"/>
        </div>
    </div>
    <div>
        <form name="userForm" class="form-horizontal" ng-submit="update()" novalidate>
            <div class="form-group server-errors" ng-if="user.errors.length > 0">
                <p ng-repeat="error in user.errors">{{ ::error }}</p>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input class="form-control" value="{{ user.userName }}" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" value="{{ user.email }}" readonly="readonly">
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : userForm.firstName.$invalid && !userForm.firstName.$pristine }">
                <label class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                    <input name="firstName" class="form-control" ng-model="user.firstName" required/>
                    <p ng-if="userForm.firstName.$invalid && !userForm.firstName.$pristine">First name is required</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : userForm.lastName.$invalid && !userForm.lastName.$pristine }">
                <label class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                    <input name="lastName" class="form-control" ng-model="user.lastName" required/>
                    <p ng-if="userForm.lastName.$invalid && !userForm.lastName.$pristine">Last name is required</p>
                </div>
            </div>
            <div class="form-group" ng-if="showStatus">
                <label class="form-status">Success!</label>
            </div>
            <div class="form-group" ng-if="progress.loading">
                <progress ng-model="progress.value" max="{{ ::progress.max }}">Progress</progress>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Update</button>
            </div>
        </form>
    </div>
</div>
