﻿<div ui-view class="users">
    <p>Users</p>
    <ul class="list" data-sortable>
        <li ng-repeat="user in users">
            <div class="profile-pic" 
                 ng-style="{ 'background-image': user.hasAvatar ? 'url(' + user.avatar + ')' : 'transparent', 'background-size': user.hasAvatar ? '65px 65px' : '35px 35px' }">
            </div>
            <div>
                <p>{{ user.fullName }}</p>
                <button class="btn btn-primary" ng-if="!user.isFriend && !user.isSelf" ng-click="add(user.id)">+</button>
            </div>
        </li>
    </ul>
</div>