﻿<div ui-view class="events">
    <ul class="nav" data-tabs>
        <li ng-class="{ 'selected': isActive('main.events.my')  }">
            <a ui-sref="main.events.my">Control</a>
        </li>
        <li ng-class="{ 'selected': isActive('main.events.all') }">
            <a ui-sref="main.events.all">All</a>
        </li>
        <li ng-class="{ 'selected': isActive('main.events.invitations') }">
            <a class="counter" ui-sref="main.events.invitations.incoming">Invitations <span ng-if="invitations > 0">{{ invitations }}</span></a>
        </li>
        <li ng-class="{ 'selected': isActive('main.events.requests') }">
            <a ui-sref="main.events.requests.incoming">Requests</a>
        </li>
    </ul>
    <a ui-sref="main.events.my.create" class="btn btn-primary pull-left create" ng-class="{ 'invisible': !isActive('main.events.my')  }">Create</a>
    <div class="tab-content" ui-view="tab"></div>
</div>
