﻿<div class="add-event" ui-view>
    <form name="eventForm" ng-submit="save()" class="form-horizontal" novalidate>
        <div>
            <div class="form-group server-errors" ng-if="event.errors.length > 0">
                <p ng-repeat="error in event.errors">{{ ::error }}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : eventForm.$invalid && !eventForm.name.$pristine }">
                <label class="col-sm-1 control-label">Name</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control" type="text" ng-model="event.name" required/>
                    <p ng-if="eventForm.name.$invalid && !eventForm.name.$pristine">Name is required</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : eventForm.description.$invalid && !eventForm.description.$pristine }">
                <label class="col-sm-1 control-label">Description</label>
                <div class="col-sm-8">
                    <input name="description" class="form-control" type="text" ng-model="event.description" required/>
                    <p ng-if="eventForm.description.$invalid && !eventForm.description.$pristine">Description is required</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Type</label>
                <div class="col-sm-8">
                    <select class="form-control"
                            ng-options="eventType for eventType in eventTypes"
                            ng-model="event.eventType"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Category</label>
                <div class="col-sm-8">
                    <select class="form-control"
                            ng-options="category.id as category.name for category in categories"
                            ng-model="event.categoryId"></select>
                </div>
            </div>

            <div class="form-group location">
                <label class="control-label col-sm-1">Location name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" ng-model="event.location.adress"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">Address</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" ng-model="event.location.adress"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">Position</label>
                <div class="col-sm-8">
                    <div class="col-sm-8">
                        <input class="form-control col-sm-8" type="text" ng-model="event.location.coordinatesDisplay"
                               ng-click="pickLocation()" readonly="readonly"/>
                    </div>
                    <button class="btn btn-default pull-left" type="button" ng-click="pickLocation()">Pick location</button>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">Date starts</label>
                <div class="col-sm-8">
                    <p class="input-group">
                        <input type="text" class="form-control"
                               uib-datepicker-popup ng-model="event.start"
                               is-open="dates.start"
                               ng-required="true" close-text="Close"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDate('start')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Date ends</label>
                <div class="col-sm-8">
                    <p class="input-group">
                        <input type="text" class="form-control"
                               uib-datepicker-popup ng-model="event.end"
                               is-open="dates.end"
                               ng-required="true" close-text="Close"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDate('end')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{{ ::action }}</button>
        </div>
    </form>
</div>