﻿<div ui-view>
    <div>
        <ul class="feed" data-sortable>
            <li ng-repeat="event in events" ng-click="view(event.id)">
                <div>
                    <h1>{{ event.name }}</h1>
                </div>
            </li>
        </ul>
    </div>
</div>