﻿<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2">Name:</label>
            <div class="col-sm-10">
                <input class="form-control" value="{{ event.name }}" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">Description:</label>
            <div class="col-sm-10">
                <input class="form-control" value="{{ event.description }}" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">Date Starts:</label>
            <div class="col-sm-10">
                <input class="form-control" value="{{ event.dateStartsTicks | date: 'medium' }}" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">Date Ends:</label>
            <div class="col-sm-10">
                <input class="form-control" value="{{ event.dateEndsTicks | date: 'medium' }}" readonly="readonly">
            </div>
        </div>
    </form>
    <button type="button" class="btn btn-default" ng-click="invite()" ng-if="event.canInvite">Invite</button>
    <button type="button" class="btn btn-primary" ng-click="edit()" ng-if="event.canEdit">Edit</button>
    <button class="btn btn-default" type="button" ng-click="join()" ng-if="!event.canAccept && event.canJoin">Join</button>
    <button class="btn btn-default" type="button" ng-click="leave()" ng-if="event.canLeave">Leave</button>
    <button class="btn btn-default" type="button" ng-click="accept()" ng-if="event.canAccept">Accept</button>
    <button class="btn btn-default" type="button" ng-click="decline()" ng-if="event.canAccept">Decline</button>
    <button type="button" class="btn btn-danger" href="javascript:void(0)" ng-click="delete()" ng-show="event.canEdit">Delete</button>
</div>