﻿<div ui-view class="register">
    <form name="userForm" class="form-horizontal" ng-submit="login()" novalidate>
        <h2 class="form-login-heading">Login</h2>
        <div class="form-group server-errors" ng-if="loginData.errors.length > 0">
            <div class="col-sm-10 col-sm-offset-2">
                <p ng-repeat="error in loginData.errors">{{ ::error }}</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.userName.$invalid && !userForm.userName.$pristine }">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input name="userName" type="email" class="form-control" placeholder="Email"
                       ng-model="loginData.userName" required autofocus>
                <p ng-if="userForm.userName.$invalid && !userForm.userName.$pristine">Email is invalid</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input name="password" type="password" class="form-control" placeholder="Password" ng-model="loginData.password" required>
                <p ng-if="userForm.password.$invalid && !userForm.password.$pristine">Password is required</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <a ui-sref="auth.register">Sign Up</a>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
        </div>
    </form>
</div>