﻿<div ui-view class="register">
    <form name="userForm" class="form-horizontal" ng-submit="signUp()" novalidate>
        <h2 class="form-login-heading">Sign up</h2>
        <div class="form-group server-errors" ng-if="registration.errors.length > 0">
            <div class="col-sm-10 col-sm-offset-2">
                <p ng-repeat="error in registration.errors">{{ ::error }}</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input name="email" type="email" class="form-control" placeholder="Email"
                       ng-model="registration.email" required autofocus>
                <p ng-if="userForm.email.$invalid && !userForm.email.$pristine">Email is invalid</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.firstName.$invalid && !userForm.firstName.$pristine }">
            <label class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
                <input placeholder="First Name" name="firstName" class="form-control" ng-model="registration.firstName" required />
                <p ng-if="userForm.firstName.$invalid && !userForm.firstName.$pristine">First name is required</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.lastName.$invalid && !userForm.lastName.$pristine }">
            <label class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
                <input placeholder="Last Name" name="lastName" class="form-control" ng-model="registration.lastName" required />
                <p ng-if="userForm.lastName.$invalid && !userForm.lastName.$pristine">Last name is required</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input name="password" type="password" class="form-control" placeholder="Password" ng-model="registration.password" required>
                <p ng-if="userForm.password.$invalid && !userForm.password.$pristine">Password is required</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine }">
            <label class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-10">
                <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm Password"
                       ng-model="registration.confirmPassword"
                       required
                       compare="registration.password">
                <p ng-if="userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine">Passwords don't match</p>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
        </div>
    </form>
</div>