﻿<div ui-view  class="events">
    <ul class="nav" data-tabs>
        <li ng-class="{ 'selected': isActive('main.feed.list')  }">
            <a ui-sref="main.feed.list">List</a>
        </li>
        <li ng-class="{ 'selected': isActive('main.feed.geo') }">
            <a ui-sref="main.feed.geo">Geo</a>
        </li>
    </ul>

    <div class="tab-content" ui-view="feed"></div>
</div>
