﻿<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete?</p>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="save()" class="btn btn-default">Save</button>
        <button type="button" ng-click="cancel()" class="btn btn-default">Close</button>
    </div>
</div>