﻿<!-- Modal content-->
<div class="modal-content location">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pick location</h4>
    </div>
    <div class="modal-body" ng-if="!loading">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="confirm()" class="btn btn-default">Confirm</button>
        <button type="button" ng-click="cancel()" class="btn btn-default">Close</button>
    </div>
</div>