﻿<div class="main-nav">
    <h3><a ui-sref="main">Dashboard</a></h3>
    <ul class="nav">
        <li ng-class="{ 'selected': isActive('main.profile')  }">
            <a class="profile" ui-sref="main.profile">Profile</a>
        </li>
        <li ng-class="{ 'selected': isActive('main.feed')  }">
            <a class="feed" ui-sref="main.feed.list">Feed <span ng-if="items.events > 0">{{ items.events }}</span></a>
        </li>
        <li ng-class="{ 'selected': isActive('main.events')  }">
            <a class="events" ui-sref="main.events.my">Events <span ng-if="items.invitations > 0">{{ items.invitations }}</span></a>
        </li>
        <li ng-class="{ 'selected': isActive('main.friends')  }">
            <a class="friends" ui-sref="main.friends">Friends</a>
        </li>
        <li ng-class="{ 'selected': isActive('main.users')  }">
            <a class="users" ui-sref="main.users">Users</a>
        </li>
        <li ng-class="{ 'selected': isActive('main.dialogs')  }">
            <a class="message" ui-sref="main.dialogs">Messages <span ng-if="items.messages > 0">{{ items.messages }}</span></a>
        </li>
        <!--TODO-->
        <!--<li ng-class="{ 'selected': isActive('main.settings')  }">
            <a class="settings" ui-sref="main.settings">Settings</a>
        </li>-->
    </ul>
</div>
<div ui-view="main" class="main-nav">
    
</div>